* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "Poppins";
  src: url(https://fonts.google.com/specimen/Poppins) format("truetype");
}
html {
  width: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #fff;
  width: 100%;
}

h3 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 30px;
  color: black;
}
h6 {
  font-size: 26px;
  text-align: center;
  color: black;
  margin: 0;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}
li {
  padding-top: 5px;
  margin: 5px;
  color: black;
}
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 999;
  border: 2px solid #fff;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
.fa {
  font-size: 26px;
  transition: 0.4s;
  margin: 3px;
}
.checked {
  color: #ff9f43;
}


.container {
  min-height: 100vh;
  width: 100%;
  display: block;
  align-items: center;
}
.container-purchase {
  display: flex;
  flex-direction: row;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 4%;
  margin: 0;
}

.logo {
  width: 200px;
  height: 200px;
  margin: 0.5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.navbar-links-elements:hover {
  color: #777;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  padding: 1rem;
  display: inline-block;
}

.login-btn {
  text-decoration: none;
  color: #fff;
  margin-right: 15px;
  font-weight: 400;
}
.login-btn:hover {
  color: #777;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 14px 40px;
  color: #fff;
  background-image: linear-gradient(45deg, black, white);
  font-size: 14px;
  border-radius: 30px;
}
.btn:hover {
  color: black;
}
.homepage-btn {
  color: #fff;
  height: 50px;
  width: 50px;
  margin: 40px 40px;
}
#how-it-works {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 500px;
}

.faq{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 500px;

}

.content {
  width: 100%;
  height: 100vh;
  background-image: url(images/backgroundimg.jpeg);

  background-size: 100% auto;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 5% 5%;
  opacity: 0.75;
}

.content h1 {
  font-size: 30px;
  color: #fff;
  background-color: black;
  display: inline-block;
}
.content p {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background-color: black;
  display: inline-block;
}
.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  z-index: 9999;
}
.section-header {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}
#section-cars {
  width: 100%;
  height: 50vh;
  padding-bottom: 100px;
  display: flex;
}
.cars {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 16px;
}
.cars-item {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cars-item a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cars-item img {
  width: 70%;
  cursor: pointer;
}
.cars-item-list {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.cars-gallery {
  width: 300px;

  margin: 15px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: #f2f2f2;
}

.cars-gallery:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.cars-gallery-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}
.cars-gallery h6 {
  color: black;
}

#car-list {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 50px;
  margin-top: 50px;
  justify-content: center;
  padding: 40px;
}

.car-details {
  width: 800px;
  height: 400px;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.car-details h3,
h6 {
  color: #fff;
}

.buy-btn {
  text-align: center;
  font-size: 24px;
  color: #fff;
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 55px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #2183a2;
}
.purchase-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 600px;
  float: right;
  flex-direction: column;
}
.purchase-btn p {
  margin-bottom: 150px;
  font-size: 40px;
  font-weight: bold;
}
.purchase-buy-btn {
  width: 150px;
  height: 75px;
  font-size: 30px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #fff;
}
.purchase-no-btn {
  color: #fff;
  background-color: black;
  background: none;
  cursor: pointer;
  border: none;
}

.thanks {
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.thanks-choose {
  font-size: 50px;
}
.thanks-deliver {
  font-size: 30px;
}

.footer {
  background-color: black;
  padding: 20px 0;
  text-align: center;
}
.footer p {
  margin: 0;
  justify-content: center;
}
.footer-p {
  max-width: 960px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .cars-gallery {
    width: 45px;
  }
}
@media (max-width: 750px) {
  .cars-gallery {
    display: inline-block;
    width: 90%;
    padding: 0;
    font-size: 20px;
  }
  .cars-gallery-img {
    width: 90%;
    margin: 0 auto;
  }
  #car-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .cars-item-list {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
}

@media (max-width: 400px) {
  .toggle-button {
    display: flex;
    position: fixed;
    z-index: 9999;
  }
  .navbar-links-2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    background-color: black;
  }

  .navbar {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    left: -100%;
    top: 0%;
    transition: all 0.3s ease;
    flex-direction: column;
    z-index: 9998;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .navbar-links-2 a {
    color: #fff;
    margin: 0;
  }
  .navbar-links li {
    text-align: center;
    padding: 30px;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
    color: #fff;
  }

  .navbar.active {
    left: 0;
  }
  .navbar-links-2.active {
    display: flex;
  }
  .content {
    margin-top: 30%;
    height: auto;
  }
  .content p {
    font-size: 15px;
    margin-top: 10px;
  }

  .btn-start {
    margin-top: 20px;
  }
  .logo {
    width: 250px;
    height: 250px;
  }
  .container {
    height: 100%;
  }
}
